body{
    background-color: #eceff1;
}
.p-l-5{
    padding-left: 5px!important;
}
.p-r-5{
    padding-right: 5px!important;
}
.t-l{
    text-align: left!important;
}
.t-r{
    text-align: right!important;
}
.p-t-7{
    padding-top: 7px;
}
.p-r-0{
    padding-right: 0!important;
}
.p-l-0{
    padding-left: 0!important;
}
.text-center{
    text-align: center;
}
.white-bg{
    background-color: #ffffff;
}
.blue-color{
    color: #007fff;
}
.blue-bg-color{
    background-color: #007fff;
}
.header{
    background-color: #ffffff;
    padding: 10px;
    color: #007fff;
}
.logo{
    width: 30px;
    height: 30px;
}
.title{
    display: inline-block;
    margin-left: 20px;
}
.person-info{
    z-index: 12;
    float: right;
    right: 40px;
    height: 30px;
    top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.person-info-item a{
    color: #71777c;
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
}
.person-info-item img{
    width: 24px;
    height: 24px;
}
.main{
    margin-top: 15px;
    background-color: #ffffff;
    padding: 15px 0;
}
.wechat-table{
    margin: 20px 0;
}
.wechat-table thead tr td{
    background-color: rgb(147,183,252);
    color: #ffffff;
    font-weight: 500;
}
.key{
    display: inline-block;
    padding: 4px 5px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(147,183,252,0.7);
    margin-right: 10px;
}
.new-friend-reply{
    resize: none;
}