*.vscode
*/.settings
*/target
*target
*/.settings
*/target
*.project
*.classpath
*.idea
*.iml
*.DS_Store
*.log
/build/
/bin/
*/output
*node_modules
*/log
.env
*.memory-card.json
package-lock.json
# Runtime data
pids
*.pid
*.seed
*/file
env.json
wechat.config.json
*.template.js
room.db
